extends layout

block content

    br
    br

    h3 Welcome to our resources scheduler!

    br

    h5 Here is what you can do

    ul(style="list-style-type: none;")
        br

        li
            b All users:
        li Book a resource
        li View reservations (all or for a specific user)
        li View users (entire list or a specific one)

        br

        li
            b Administrator only:
        li Add new resources