extends layout

block content

    br
    br

    h3 Welcome to our resources scheduler!

    br

    h5 Here is what you can do

    ul(style="list-style-type: none;")
        br

        li
            b All users:
        li Book a resource
        li Manage your reservations
        li View current reservations
        li Search for existing users

        br

        li
            b Administrator only:
        li Add new resources
        li Manage resources
        li Manage reservations
        li Manage users