doctype html
html(lang='en')
    head
        title= "Scheduler"
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css' integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous")
    body
        div.container-fluid
            nav(class="navbar navbar-light bg-light justify-content-center")
                a(class="navbar-brand mb-0" href="/") Scheduler
                a(class="navbar-brand mb-0" href="/") Home
                a(class="navbar-brand mb-0" href="ressources") Ressources
                a(class="navbar-brand mb-0" href="users") Users

                if user
                    form.form-inline(method='POST' action="/logout")
                        span.mr-3 #{user.firstname} #{user.lastname}
                        button(class="btn btn-primary" type="submit") Déconnexion

            h1= title
            block content
