extends layout

block content

    if(session.user.admin)
        div.w-25.p-3.m-auto

            br

            h3 Manage resources

            br
    else

        br

        h4 You must be an administrator to manage resources