extends layout

block content

    div.w-50.p-3.m-auto

        br
        br

        h3 Search users

        br

        div.w-25.p-3.m-auto
            form(method='POST' action='')

                div.form-group
                    label(for='name') Pseudonym
                    input#name.form-control(type='text' name='name' )

                br

                div.text-center
                    button.d-block.btn.btn-primary(type='submit' style="width:100px;display:initial!important;") Find user

        if(error)
            error

        if(listUsers)

            br

            table.align-items-center.m-auto.text-center(style="border-collapse: collapse;\n" +
            "    margin: 25px 0;font-size: 0.9em;min-width: 400px;\n" +
            "    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);" +
            "    background-color: #85C1E9;color: #ffffff;\n" +
            "    text-align: left;padding: 12px 15px;border-bottom: 1px solid #dddddd;")

                thead(style="background-color: #85C1E9;color: #ffffff;padding: 12px 15px;")
                    th(style="padding: 12px 15px;") Pseudonym
                    th(style="padding: 12px 15px;") Admin

                tbody(stule="border-bottom: 1px solid #dddddd;")
                    each entry in listUsers

                        tr(style="background-color: #85C1E9;\n" +
                        "    color: #ffffff;\n" +
                        "    text-align: center;" +
                        "border-bottom: 1px solid #dddddd;")

                            td(style="padding: 12px 15px;") #{entry._id}
                            td(style="padding: 12px 15px;") #{entry.admin}

        else
            br

            b User doesn't exist !